NODE_ENV=local

PORT=3000

MONGODB_URI=mongodb://mongo1:27017/grechka-task

LOG_LEVEL=debug

ZAKAZ_HOST=https://stores-api.zakaz.ua
ZAKAZ_AUCHAN_STORE_ID=48246401
ZAKAZ_NOVUS_STORE_ID=48201070
ZAKAZ_VARUS_STORE_ID=48241001

PRODUCTS_LIMIT=30
